.about_banner_membership{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_membership_top.png');
    position: relative;
}

.about_banner_activites{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_activities_top.png');
    position: relative;
}

.about_banner_networks{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_networks_top.png');
    position: relative;
}

.about_banner_committee{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_committee_top.png');
    position: relative;
}

.about_banner_publications{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_publications_top.png');
    position: relative;
}

.about_banner_gallery{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/banner_gallery_top.png');
    position: relative;
}

.about_banner{
    padding: 8% 10px;    
    background: url('../../assets/about_membership_banner.jpg');
    position: relative;
}




.criteria_banner{
    padding: 8% 10px;    
    background: url('../../assets/membership_criteria_background_image.jpg');
    position: relative;
}




.membership_fee_banner{
    padding: 8% 10px;    
    background: url('../../assets/membership_fee_bg_img.jpg');
    position: relative;
}




.mising_member_banner{
    padding: 8% 10px;    
    background: url('../../assets/missing_member_photo.jpg');
    position: relative;
}




.member_form_banner{
    padding: 8% 10px;    
    background: url('../../assets/member_form_bg_img.jpg');
    position: relative;
}




.get_member_banner{
    padding: 8% 10px;    
    background: url('../../assets/get_member_banner.jpg');
    position: relative;
}
.get_member_banner_Tah{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/get_member_banner.jpg');
    position: relative;
}

.get_about_banner_Tah{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/about-Ieb-page-banner.png');
    position: relative;
}

.get_contact_banner_Tah{
    padding: 55px 10px 5px 10px;    
    height: 150px;
    background: url('../../assets/images/contact-page.png');
    position: relative;
}




.notice_banner_saz{
    padding: 8% 10px;    
    background: url('../../assets/notice_background_image.jpg');
    position: relative;   
}




.display_41_saz {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}






.jb_breadcrumb {
    position: absolute;
    bottom: -11%;
    left: 4%;
}

@media only screen and (max-width: 450px){
    .jb_breadcrumb {
        display: none;
    }
} 




.news_cont_saz {
    padding: 20px 20px 10px 20px;
    background: #fff;
    margin: 20px 0px 20px 0px;
}





.news_cont_saz p img{
    float: left; 
    width: 20%; 
    padding-right: 20px;
}




.membership_panel_saz {
    padding: 0;
    margin: 0;
}




.membership_panel_saz li {
    list-style: none;
    border-bottom: 1px solid #eee;
}




.membership_panel_saz li:last-child {
    border-bottom: 0px solid #eee;
}





.membership_panel_saz li p {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 7px;
    padding-left: 5px;
}





.membership_panel_saz li a {
    color: #3f3a3a;
    font-size: 14px;
    display: block;
    padding: 5px;
}




.membership_panel_saz li a:hover {
    color: blueviolet;
    transition: .3s ease;
}




.about_fees_saz{
    border: 1px solid #ddd; 
    text-align: center; 
    padding: 5px; 
    margin-top: 3%;
}




.how_get_member_rules{
    padding: 20px 20px 10px 20px;
    background: #fff;
    margin: 20px 0px 20px 0px;
}



.getting_membership_rules_saz{}




.getting_membership_rules_saz li {
    padding: 5px;
    list-style: square;
}





.getting_membership_rules_saz li a{
    color: #0056b3;
}




.getting_membership_rules_saz li a:hover{
    color: #007bff;
}




.table_saz {
    background: #fff;
}
.table_saz thead tr th{
    text-align: center;
    font-size: 13px;
}
.table_saz tbody tr td{
    text-align: center;
    font-size: 13px;
}




.table_saz2 {
    background: #fff;
}
.table_saz2 thead tr th{
    font-size: 13px;
}
.table_saz2 tbody tr td{
    font-size: 13px;
}

.table_saz2 tbody tr td p{
    font-size: 13px;
}




.table_saz2 tbody tr td .country_name {
    font-size: 18px;
    font-weight: bold;
    color: blueviolet;
}




.subs_fee_title {
    padding-bottom: 10px;
}




.jb_ck_bx{
    padding-left: 20px;
    padding-right:10px;
}




.required_docs_criteria{
    padding: 0;
    margin-top: 1%;
}




.required_docs li{
    list-style: number;
}




.required_docs_criteria li {
    margin-left: 5%;
}




.abbreviated_table {
    margin: 0px auto;
    width: 40%;
}





.abbreviated_table thead tr {
    background: cornflowerblue;
}





.abbreviated_table thead tr th{
    border: 1px solid #ddd;
    padding: 3px 5px;

}





.abbreviated_table tbody tr td {
    border: 1px solid #ddd;
    padding: 3px 5px;
}




.who_join_saz {
    background: cornflowerblue;
    padding: 3px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}




.short_desc_criteria_saz {
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    text-align: justify;
}



