/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2017, 10:46:39 AM
    Author     : Mir Tahajjat Hossain
*/
body {
   font-size: 12px; 
}


.table.table-custom-padding-5x > tbody > tr > td,
.table.table-custom-padding-5x > tbody > tr > th,
.table.table-custom-padding-5x > thead > tr > td, 
.table.table-custom-padding-5x > thead > tr > th{
    padding: 1px;
}
.table.table-custom-padding-7x > tbody > tr > td,
.table.table-custom-padding-7x > tbody > tr > th,
.table.table-custom-padding-7x > thead > tr > td, 
.table.table-custom-padding-7x > thead > tr > th{
    padding: 7px 5px;
}

.table.table-custom-padding-10x > tbody > tr > td,
.table.table-custom-padding-10x > tbody > tr > th,
.table.table-custom-padding-10x > thead > tr > td, 
.table.table-custom-padding-10x > thead > tr > th{
    padding: 10px 5px;
}
.form-horizontal .custom-bottom-margin-5x,
.form-material .custom-bottom-margin-5x{
    margin-bottom: 5px;
}
.form-horizontal .custom-bottom-margin-15x,
.form-material .custom-bottom-margin-15x{
    margin-bottom: 15px;
}
.form-horizontal .customInput-sm{
    height: 30px;
    line-height: 30px;
}
.input-group-addonXX{
    padding: 5px 2px;
    border-radius: none;
}
.chosen-container-single .chosen-single{
    border-radius: 0 !important;
}
.globalAlertInfoBoxConParentTT{
    position: relative;
}
.globalAlertInfoBoxConTT{
    position: absolute; 
    top: -87px;
    z-index: 999;
}
.closeTT{
    font-weight: 400 !important;
    color: #fff !important;
    opacity:1 !important;
}
.activityHeader{ font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;}
.systemRoleXcon .ms-container{width: 100%;}
.systemRoleXcon .ms-container .ms-list {border-radius: 0; height: 300px;}


.rm_sales_form_padding{
    padding-left: 1px;
    padding-right: 1px;
}