

body { font: 14px/1.4 Georgia, serif; list-style: none; }
#page-wrap { width: 800px; margin: 0 auto; background-color: #d3e4e4; text-align: -webkit-center; padding-bottom: 50px; font-family: sans-serif;}

#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }
 
.top {
	display: inline-flex; 
}

.logo {

	display: inline-block;
}

.logo img {

	width: 100px;
	padding: 20px;
}
.title {

	text-align: center;
	display: inline-block;


}

.title ul {
	list-style: none;
}

.title h1 {

	font-weight: bold;
	font-size: 15px;
}

.title-block {

	width: 760px;
	background-color: #00aeef;
	color: white;
	text-align: center;
}

.title-block h1 {
	font-size: 15px;
}

.tbl1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 55%;
}

.tbl1 td, th {
  border: 1px solid #00aeef;
  text-align: left;
  padding: 8px;
}

.tbl1 tr:nth-child(even) {
  background-color: #dddddd;
}

.tbl2 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 38.5%;
}

.tbl2 td, th {
  border: 1px solid #00aeef;
  text-align: left;
  padding: 3px;
}

.tbl2 tr:nth-child(even) {
  background-color: #dddddd;
}
.tbl3 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

.tbl3 td, th {
  border: 1px solid #00aeef;
  text-align: left;
  padding: 1px;
}

.tbl3 tr:nth-child(even) {
 
}